* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
/* Header Styles*/
.header {
  position: fixed;
  top: 0;
  padding: 0 9.4rem;
  font-size: 1.2rem;
  background: #ffffff;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #707070;
}
.mel {
  margin-right: 35px;
}

.button {
  background: linear-gradient(94.98deg, #ef3a2f 1.34%, #fa770d 104.22%);
  color: #ffffff;
  border-radius: 38px;
  border: none;
  padding: 10px 20px;
}

.landingPage-1 h1 {
  color: #1f1f1f;
  font-weight: 700;
}

.section-2 {
  margin-top: 160px;
}
.landingPage__Heading {
  font-size: 48px;
  line-height: 58.22px;
  font-weight: 700;
}

.landingPage__subHeading {
  color: #4d4d4d;
  font-size: 22px;
  line-height: 29.11px;
  padding-top: 20px;
}
.button--style {
  margin-top: 50px;
}

.section-2-page2 {
  background: #f2f2f2;
}

.companyCard {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 16px;

  margin-bottom: 12px;
}

.pad {
  padding-top: 75px;
  padding-bottom: 75px;
}

.cardHeading {
  color: #ef3a2f;
  font-size: 24px;
  line-height: 29.11px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.cardSubHeading {
  line-height: 22px;
  color: #4d4d4d;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.companyStyle {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
  /*
  padding-left: 25px;
  padding-top: 25px; */
}
.awards {
  padding-top: 284px;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 12px;
}

.page-3-heading {
  color: #ef3a2f;
  font-size: 28px;
  line-height: 34px;
  padding-bottom: 15px;
}

.page-3-subHeading {
  color: #2c2c2c;
  font-size: 48px;
  line-height: 58px;
}
.page3-pad {
  padding-top: 75px;
}

.page-3-image {
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
}
.page-3-image__style {
  /* background-color: #f2f2f2; */
  background-image: linear-gradient(to bottom, #f2f2f2, #eb5e5e);
  /* background-repeat: no-repeat;*/
  background-size: 10px 20px;
}
